@import '../../node_modules/margo-css/margo.scss';

@import 'https://fonts.googleapis.com/css?family=Alike+Angular|Cormorant+Garamond|Lusitana|Martel|PT+Serif+Caption';

// font-family: 'Alike Angular', serif;
// font-family: 'Cormorant Garamond', serif;
// font-family: 'Lusitana', serif;
// font-family: 'PT Serif Caption', serif;
// font-family: 'Martel', serif;

//general

* {
	// font-family: Helvetica, Arial, sans-serif;
	font-family: 'Martel', serif;
	box-sizing: border-box;

}

// body{
// 	margin: 0;
// }

h1 {
	font-size: 68px;
	text-align: center;
	color: fuchsia;
}

//header

#navBar {

	.btn {
		margin-left: 2%; 
		margin-top: 3%;
		position: relative;
		top: 50%;
		left: 10%;
	}

	a{
		text-decoration: none; 
		font-size: 20px;

	}
	
}

//homeView



.homeContainer{

	// border: solid silver 5px;

	max-width: 80%;

	margin-left: 12%;

	.title{
		margin-top: 10%;
		top:50%;
		left: 20%;
		position: relative;
		font-size: 76px;
		color: fuchsia;
	}

	.intro{
	color: fuchsia;
	text-align: center;
	top-margin: 10%;
	font-size: 30px;
	left: 30%;

	}

	.roach{
	position: relative; 
	left: 63%; 

	}
}





// //weekly


// //home 



// //allStars 

// .starIntro{
// 	color: fuchsia; 
// 	text-align: center;
// }

// .homeView{
// 	border: solid gray 5px;
// 	max-height: 100%;
// 	top: 5%
// }

// .container-narrow{
// 	border:solid gray 5px;
	
// }

// //hallOfShame

// .shameIntro{
// 	color: fuchsia; 
// 	text-align: center;

// }

// //search 

// .searchBox{
// 	padding: 2%; 
// 	margin: 1%;
// 	width:50%;
// 	text-align: center;
// 	position: relative; 
// 	left: 25%;
// 	font-size: 20px;


// }


