* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

h1 {
	font-size: 68px;
	text-align: center;
	color: fuchsia;
}

//header

#navBar {	

	.navButton {
		text-decoration: none; 
		margin: 2%; 
		padding: 2%;
		border-radius: 26%;
		text: 15px;

	
	}
}

//weekly

.weeklyReports{
	// border: solid silver 2px;
	// padding: 2%;
}

//home 

.intro{
	// border: 2%;
	// border: solid silver 2px;
	// padding: 2%;
	color: fuchsia;
	text-align: center;
}

.roach{
	position: relative; 
	left: 63%; 

}

//allStars 

.starIntro{
	color: fuchsia; 
	text-align: center;
}


//hallOfShame

.shameIntro{
	color: fuchsia; 
	text-align: center;
}

//search 

.searchBox{
	padding: 2%; 
	margin: 1%;
	width:50%;
	text-align: center;
	position: relative; 
	left: 25%;
	font-size: 20px;



}
