@import '../../node_modules/margo-css//margo.scss';


* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	font-family: 
}

h1 {
	font-size: 68px;
	text-align: center;
	color: fuchsia;
}




//====> Margo Styling =================

//header

#navBar{

	margin-left: 20%;

	.navB{

		a{
			font-size: 20px;
		}

	}

}	


//hallofshame

.shameReport{

	border: silver solid 5px;
}


